/*.tab-content{min-height:545px !important;}*/
select, input {color:#282323;}
#coba{margin-bottom:5px;}
.center{text-align:center;}
.right{text-align:right;}

.grid{margin-bottom:10px;}
.span1{width:40px !important;}
.span1_2{width:65px !important;}
.span2{width:100px !important;}
.span2_2{width:125px !important;}
.span3{width:160px !important;}
.span3_2{width:180px !important;}
.span4{width:220px !important;}
.span5{width:280px !important;}

.to{float: left;margin-right: 3px;padding-top: 3.5%;margin-left:3px;}
.form-label{width:100px;line-height:30px;}
.form-label-medium{width:300px;line-height:30px;display:inline-block;}
.form-label-long{width:300px;line-height:30px;display:inline-block;}
.form-title-label{width:100%;line-height:30px;background:#ddd;padding-left:6px;margin-bottom:0px;}
.form-label2{width:50px;line-height:30px;text-align:center;display:inline-block;}
.form-group{border-bottom: 1px solid #eee;margin-bottom: 10px;padding-bottom: 10px;}

.table-detailOT {width:100%;}
.table-detailOT th{background:#0090d9 !important;color:#fff;}
.table-detailOT td{background:#fff !important;border-bottom:1px solid #ccc !important;}

span.detail_ot{width:135px;float:left;display:block;}

.info_header{background:#eee !important;padding-bottom:20px !important;margin-bottom:20px !important;}
.info_header .tiles-body{color:#515050 !important;}

.panel-group{margin-bottom:0px !important;}
.notification-messages-full{width:280px;background:#FE5C5C !important;color:#fff !important;}

/* Datatables */
#table_length select{width:60px !important;}

table.shift td{text-align:center;border:1px solid #999 !important;padding-left:5px !important;padding-right:5px !important;}
table.shift th{border:1px solid #999 !important;padding-left:5px !important;padding-right:5px !important;}
table.shift select{background:none !important;border:0px !important;text-align:center;padding-right:5px;-webkit-appearance:none;-moz-appearance:none;min-height:18px;height:18px !important;min-height:18px !important;height:22px;}

.sunday{color:#ff0000 !important;font-weight:bold;}
.bg_libur{background:#f35958 !important;color:#fff !important;}
.bg_waiting{background:#ffff00 !important;}
.offz{background:#666666 !important;color:#fff !important;border:1px solid #999 !important;}
.lembur_auto{background:#0090d9 !important;color:#fff !important;border:1px solid #999 !important;}
.holiday{background:#f35958 !important;color:#fff !important;border:1px solid #999 !important;}
.holiday_office{background:#00ff00 !important;color:#000 !important;border:1px solid #999 !important;}
.tukeran{background:#ffff00 !important;border:1px solid #999 !important;}
.red{color:#fd0000;}
.green{color:#00BB27;}
.blue{color:#0000ff;}

.legend{width:20px;height:20px;display:block;float:left;}
.legend_grafik{display: block;float: left;height: 13px;width: 20px;margin-top:3px;}
.title_legend{margin-left:10px;float:left;margin-right:20px;width:150px;}
.title_legend_grafik{margin-left:5px;float:left;margin-right:15px;width:55px;font-size:12px;font-weight:bold;color:#000;}
#grafik_att{position:relative;}
.item-title{color:#fff !important;}

#notif_error, #notif_error2{color:#fd0000;}
